.botan {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.botan:hover {
  background-color: #2980b9;
}

.buttonContainer {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.buttonContainer button {
  margin: 0 10px;
}

/* 新しいスタイル追加 */
.searchContainer {
  position: fixed;
  top: 20px;
  right: 20px;
}

.searchContainer input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

